ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    block-size: 80dvh;
    flex-wrap: wrap;
}

li{
    padding: 70px;
    display: flex;
    flex-direction: column;
}

li img{
    inline-size: 185px;
    block-size: 250px;
}

.btn{
    background-color: rgb(0, 125, 83);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}